.idea
.vscode
.gitignore
/vendor
.DS_Store
*.*swap
tmp
!tmp/.gitkeep
logs
!logs/.gitkeep
data/cache/*
!data/cache/.gitkeep
data/logs/*
!data/logs/.gitkeep
data/conciliacoes/*
!data/conciliacoes/.gitkeep
config/development.config.php.dist
build/*
!build/.gitkeep
public/assets/files/*
!public/assets/files/.gitkeep
.vagrant/*
phpinfo.php
.bash_extras
.bash_history
.bash_logout
.bash_profile
.bashrc
.ftpaccess
.viminfo
www.old
www
composer.phar
.composer
.mysql_history
.ssh
exec/*
test.json
WsdlSoro.exe.config
*clientes-com-dividas.txt
*clientes-com-saldo.txt
sql/mysql-functions.local.sql
data/exe_logs
!data/exe_logs/.gitkeep
/version
Localhost.postman_environment.json
MER-SR.mwb.bak
config/autoload/local.php
config/development.config.php
public/assets/files/*
public/assets/uploads/*
public/assets/produtos/*
config/autoload/local.php
config/autoload/bringg.global.php
public/files/*
!public/files/.gitkeep
barter/node_modules
